<h3><%= @creature.name %></h3>


<%= form_for @creature do |f| %>
  <%= f.text_field :name %><br />

  
  <%= f.text_field :description %><br />
  <%= button_to "Delete", @creature, method: :delete %>
  
<% end %>
  <%= link_to "index", creatures_path(@creature) %>